.nav-bar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.nav-itens{
    display:flex
}
.header{
    background-color: #eee;
    padding-top: 20px;
    padding-bottom: 40px;
}
.cpf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}
.cpf input{
    width: 80%;
    position: absolute;
    left: 58px;
    top:193px;
    border-bottom: 2px rgb(134, 130, 130) solid;
    border-right: none;
    border-top: none;
    border-left: none;
    border-radius: 3px;
    
    width: 110px;
}
.img-cpf{
    filter: grayscale(70%);
    width: 90%;
}

.novaSenha-area a{
  
    width: 100%;
    height: 100px;
    margin-top: -10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.nova-senha{
    width: 75%;
}


.seta{
    width: 100%;
    display: flex;
   justify-content: flex-end;

}
.setaArea{
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-between;
    margin-right: 60px;
}
.footer{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.itens{
    display: flex;
    flex-direction: column;
    padding-right: 100px;
    align-items: flex-end;
    width: 300px;
}
.item-footer{
    display: flex;
    align-items: center;
    
}

.item-footer img{
    width: 50px;
    margin-left: 5px;
}